
{% extends "pizzas/base.html" %}

{% block page_header %}
<div class="jumbotron">
    <h1 class="display-3">Pizzeria.</h1>

    <p class="lead">To bring you a new experience, we will showcase different pizza varieties, 
        and there must be one you will definitely like!!</p>

    <a class="btn btn-lg btn-primary" href="{% url 'pizzas:pizzas1' %}" role="button">Pizzas &raquo;</a>

   
</div>


{% load static %} <img src="{% static "pizzas/media/Home1.jpg" %}" alt="Pizzeria" width="550" height="350" />
{% load static %} <img src="{% static "pizzas/media/Homepage.jpg" %}" alt="Pizzeria" width="550" height="350" />


{% endblock page_header %}
