{% extends "pizzas/base.html" %}
{% load static %}
{% block page_header %}
<h3>{{ pizzas2 }}</h3>
{% endblock page_header %}

{% block content %}

{% for t in toppings %}

    <div class="card mb-3">
        <h4 class="card-header">
            <p>Toppings</p>
        </h4>
        <div class="card-body">
            {{ t.name | linebreaks}}
            {{ t.date_added | date:'M d,Y H:i' }}
        </div>
    </div>
    {% empty %}
        {% endfor %}


{% for c in comment %}

    <div class="card mb-3">
        <h4 class="card-header">
            {{ c.date_added | date:'M d,Y H:i' }}
        </h4>
        <div class="card-body">
            {{ c.name | linebreaks}}
        </div>
    </div>
    {% empty %}
        <p>There are no comments for this pizza yet.</p>
        {% endfor %}

        <p>
            <a href="{% url 'pizzas:new_comment' pizzas2.id %}">Add a new comment</a>
        </p>

{% endblock content %}